# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

#ios/Flutter/Debug.xcconfig
#ios/Flutter/Release.xcconfig
#ios/Runner.xcodeproj
#ios/Runner.xcworkspace
#ios/Podfile
ios/Podfile.lock
ios/build
ios/builds
ios/RunnerArchive.xcarchive
pubspec.lock
# .vscode
local.properties
/local.properties
android/build.gradle
#android/gradle.properties
android/key.properties
/android/key.properties
/android/kingfoodmark.keystore
#android/app/build.gradle
android/app/build.gradle
android/key.properties
android/kingfoodmark.keystore
android/app/build.gradle
keystore/
.vscode/
.fvm/flutter_sdk

linux/*
macos/*
web/*
windows/*


#environment
.env
